html,
body {
	min-height: 100vh -56px;
}

.main {
	margin-top: 56px;
}

.errors {
	color: red;	
}

.dropdown-menu {
	background-color: #2E3439;
}

.dropdown-item {
	color: #CCCECF;
}

.login-error {
	color: red;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.card-body {
	font-size: 42px;
}

#card-value-sign {
	font-size: 16px;
	margin-left: 5px;
	font-weight: normal;
}
